﻿@model DRM.Webportal.DAL.User

@{
    ViewBag.Title = "Delete";
    object status = Session["Status"];
    Layout = (string) status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Delete</h2>
@if (TempData["notice"] != null)
{
    <p class="text-warning">@TempData["notice"]</p>
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.password)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.confirmPassword)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.confirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.access_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.access_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RememberMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RememberMe)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.createdDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDateTime)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>