﻿@model DRM.Webportal.DAL.User

@{
    ViewBag.Title = "Details";
    object status = Session["Status"];
    Layout = (string) status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Details</h2>
@if (TempData["notice"] != null)
{
    <p class="text-warning">@TempData["notice"]</p>
}
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.confirmPassword)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.confirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.access_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.access_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RememberMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RememberMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.ID}) |
    @Html.ActionLink("Back to List", "Index")
</p>