﻿@{
    ViewBag.Title = "Home Page";
    object status = Session["Status"];
    Layout = (string) status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="jumbotron">
    <h1>Drummonds Ltd. </h1>
    <h2 class="text-warning">Data Management Portal</h2>
    <p class="text-success">Drummonds Ltd is regulated by the Claims Management Regulator for Claims Management Activities</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-info">Payment Protection Insurance</h2>
        <p>
            Many people do not even realise that they have PPI. It could well have been applied to your loan or credit card without you knowing or without its application being properly explained. If this was the case, your loan was mis-sold, and you are entitled to reclaim all the premiums you paid, including interest.
        </p>
        <p><a class="btn btn-default" href="http://www.quickclaimppi.co.uk/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-info">Personal Injury Claims</h2>
        <p>We pride ourselves on offering our clients a “No Win, No Fee” service that is unparalleled. We consistently win our clients greater compensations than our competitors and offer a speedier resolution to our clients’ claims.  Furthermore, we provide the very highest quality auxiliary services through our partners and associates ensuring that our clients are able to continue with their day to day lives as their claim progresses</p>
        <p><a class="btn btn-default" href="http://castironclaims.com/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-info">Debt Management</h2>
        <p>Thousands of people in the UK are struggling with debt and we understand that being in debt can be very stressful, so we make getting the right advice for you as easy as possible.</p>
        <p><a class="btn btn-default" href="http://www.quickclaimppi.co.uk/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>