﻿@using System.Globalization
@model DRM.Webportal.Models.DashboardDailySummaryModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            
                
            @if (TempData["notice"] != null)
            {
                <p class="text-warning">@TempData["notice"]</p>
            }</div>
    </div>
</div>


<h2>Daily Summary - @Model.DateSelected.ToShortDateString()</h2>

@using (Html.BeginForm("Update", "Dashboard", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="panel-body">
        <div class="form-group">
        
            <div class="col-lg-3">
                @Html.TextBox("selectedDate", null, null, new {@type = "date", @class = "form-control", @placeholder = "Date", @id = "inputDate"})
            </div>
            <input type="submit" value="Update" class="btn btn-default" />
        </div>

    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.TotalRecords.ToString(CultureInfo.InvariantCulture)</div>
                            <div>Total Leads</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-thumbs-up fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.Accepted.ToString(CultureInfo.InvariantCulture)</div>
                            <div>Accepted</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.Pending.ToString(CultureInfo.InvariantCulture)</div>
                            <div>Pending</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-thumbs-o-down    fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.Rejected.ToString(CultureInfo.InvariantCulture)</div>
                            <div>Rejected</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <h2>Monthly Trend </h2>

    @*<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> This Month</h3>
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Selected Month</h3>
                </div>
                <div class="panel-body">
                    <div id="area-example"></div>
                </div>
            </div>
        </div>
    </div>
}
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

<script>
    (function() {
        $.ajax({
            url: '/Dashboard/GetMonthlyData',
            dataType: "json",
            type: "GET",
            data: { year: @Model.DateSelected.Year, month: @Model.DateSelected.Month },
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: true,
            cache: false,
            success: function(data) {
                Morris.Area({
                    element: 'area-example',
                    data: data,
                    xkey: 'DateTime',
                    ykeys: ['Accepted', 'Rejected', 'Skipped'],
                    labels: ['Accepted', 'Rejected', 'Skipped'],
                    pointSize: 2,
                    hideHover: 'auto',
                    resize: true
                });
            },
            error: function(message) {
                alert('error : ' + message);
            }
        });


    }());


    var onSuccess = function(data) {
        //data will be your s object, in JSON format

    };


    // var x = [
    //     { y: '2005', a: 100, b: 90, c: 30 },
    //     { y: '2007', a: 75, b: 65 },
    //     { y: '2008', a: 50, b: 40 },
    //     { y: '2009', a: 75, b: 65 },
    //     { y: '2010', a: 50, b: 40 },
    //     { y: '2011', a: 75, b: 65 },
    //     { y: '2012', a: 100, b: 90 }
    // ];

    //Morris.Area({
    //    element: 'area-example',
    //    data:x,
    //    xkey: 'y',
    //    ykeys: ['a', 'b', 'c'],
    //    labels: ['Series A', 'Series B']
    //});


</script>