﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Drummonds</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <meta name="description" content="Drummonds limited" />
</head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Drummonds", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">PPI <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a>@Html.ActionLink("PPI Claims", "Index", "Ppi")</a></li>
                                <li><a>@Html.ActionLink("Process PPI Claims : Submitted", "Index", "ProcessPpi")</a></li>
                                <li><a>@Html.ActionLink("Search PPI Records", "Index", "Search")</a></li>
                                <li class="divider"></li>
                                <li><a>@Html.ActionLink("CSV Data Upload", "Index", "CsvUpload")</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Callbacks <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a>@Html.ActionLink("View Callbacks", "Index", "CallBacks")</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Reports <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a>@Html.ActionLink("Download Reports", "Index", "Reports")</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a>@Html.ActionLink("Create New User", "Create", "Users")</a></li>
                                <li class="divider"></li>
                                <li><a>@Html.ActionLink("User Management", "Index", "Users")</a></li>
                                <li><a>@Html.ActionLink("Portal Health", "Index", "PortalHealth")</a></li>
                            </ul>
                        </li>
                        
                        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                   
                    </ul>
                
                    @{
                        object user = HttpContext.Current.Session["LoggedInUserName"];
                    }
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="True">@user.ToString()<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
                            
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Drummonds Ltd.</p>
                <div class="row">
                    <div class="col-lg-12">

                        <ul class="list-unstyled">
                            <li class="pull-right"><a href="#top">Back to top</a></li>
                        </ul>
                        <p class="small text-success ">For Web portal support, contact Raj : email -  <a href="mailto:rajitha.ed@gmail.com">rajitha.ed@gmail.com</a>.</p>

                    </div>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
    </body>
</html>