﻿@model DRM.Webportal.DAL.PPI
@{
    ViewBag.Title = "Index";

    object status = Session["Status"];
    Layout = (string) status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<body>

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="forms">PPI Claim Viewer</h1>
                    @if (TempData["notice"] != null)
                    {
                        <p class="text-warning">@TempData["notice"]</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="bs-docs-section">
        <div class="row">
        </div>
    </div>

    @using (Html.BeginForm("EndClaim", "ViewPpi", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        <fieldset>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">PPI Claim Details are as follows</h3>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="well bs-component">

                            <legend>External. Ref : @Model.Reference </legend>

                            @Html.HiddenFor(x => x.Id)

                            <div class="form-group">
                                <label for="inputCustId" class="col-lg-3 control-label">Cust. ID : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.Id</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputCustRef" class="col-lg-3 control-label">Cust. Ref : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.CustomerId</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputFname" class="col-lg-3 control-label">First Name : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.FirstName</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLname" class="col-lg-3 control-label">Last Name : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.LastName</label>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputDob" class="col-lg-3 control-label">Date of Birth : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.Dob</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputDob" class="col-lg-3 control-label">Address : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.Address</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPostcode" class="col-lg-3 control-label">Postcode : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.Postcode</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputMobile" class="col-lg-3 control-label">Mobile : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.MobilePhone</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputHomePhone" class="col-lg-3 control-label">Home Phone : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.HomePhone</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputWorkPhone" class="col-lg-3 control-label">Work Phone : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.WorkPhone</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-3 control-label">Email : </label>
                                <div class="col-lg-8">
                                    <label for="inputCustId" class="col-lg-3 control-label">@Model.Email</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-lg-offset-1">
                        <div class="form-group has-warning">
                            <label class="control-label">Financial Details</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputFinanceType">Finance Type : </label>
                            <label class="control-label" for="inputFinanceType">@Model.FinanceType</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputLender">Lender : </label>
                            <label class="control-label" for="inputFinanceType">@Model.Lender</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputFinanceAmount">Finance Amount : </label>
                            <div class="input-group">
                                <span class="input-group-addon">£</span>
                                <label class="control-label" for="inputFinanceType">@Model.Amount</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputStartDate">Start Date : </label>
                            <label class="control-label" for="inputFinanceType">@Model.StartDate</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputStartDate">End Date : </label>
                            <label class="control-label" for="inputFinanceType">@Model.EndDate</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectInArrears">In Arrears ?</label>
                            <label class="control-label" for="inputFinanceType">@Model.Arrears</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectAccessToDocs">Access to Documents ? </label>
                            <label class="control-label" for="inputFinanceType">@Model.AccessToDocuments</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectContactLender">willing to contact Lender ? </label>
                            <label class="control-label" for="inputFinanceType">@Model.ContactLender</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectAccessToAccNo">Access to Account Number ? </label>
                            <label class="control-label" for="inputFinanceType">@Model.AccessToAccountNumber</label>
                        </div>

                        <div class="form-group">
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    Reject Reason :
                                </div>
                                <div class="list-group-item">
                                    <label class="control-label" for="inputFinanceType">@Model.AgentRejectReason</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-0">
                                    @* <button type="submit" class="btn btn-primary" name="savebutton">Save Record</button>*@
                                    @*<button type="submit" class="btn btn-danger" name="rejectbutton">Reject</button>*@
                                    <button type="submit" class="btn btn-success" name="submitbutton">Finish >></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    }
</body>