﻿@model DRM.Webportal.DAL.PPI

@{
    ViewBag.Title = "Index";
    object status = Session["Status"];
    Layout = (string) status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PPI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimedPPIBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimedPPIBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinanceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinanceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessToDocuments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessToDocuments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactLender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactLender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessToAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessToAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitToCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitToCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allocated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allocated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllocatedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocatedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllocatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentRejectReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentRejectReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExternalRejectReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExternalRejectReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExternalNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExternalNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExternalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExternalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uploadDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>