﻿@using System.Web.UI.WebControls
@model DRM.Webportal.DAL.PPI

@{
    ViewBag.Title = "Index";
    object status = Session["Status"];
    Layout = (string) status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@{
    var listItems = new List<ListItem>
    {
        new ListItem {Text = "", Value = ""},
        new ListItem {Text = "Yes", Value = "true"},
        new ListItem {Text = "No", Value = "false"}
    };

    var listItems2 = new List<ListItem>
    {
        new ListItem {Text = "", Value = ""},
        new ListItem {Text = "DEP-DIPO", Value = "1"},
        new ListItem {Text = "CAG", Value = "2"},
        new ListItem {Text = "CH", Value = "3"},
        new ListItem {Text = "CFCK", Value = "4"}
    };

    var rejectReasonsList = new List<ListItem>
    {
        new ListItem {Text = "", Value = ""},
        new ListItem {Text = "Dead Record", Value = "Dead Record"},
        new ListItem {Text = "Not Interested", Value = "Not Interested"},
        new ListItem {Text = "No PPI", Value = "No PPI"},
        new ListItem {Text = "In Debt Management", Value = "In Debt Management"},
        new ListItem {Text = "Cannot deal with debt", Value = "Cannot deal with debt"},
        new ListItem {Text = "In IVA", Value = "In IVA"},
        new ListItem {Text = "Bankrupt", Value = "Bankrupt"},
        new ListItem {Text = "Timescale", Value = "Timescale"},
        new ListItem {Text = "Lender Not Accepted", Value = "Lender Not Accepted"},
        new ListItem {Text = "Complaint", Value = "Complaint"},
        new ListItem {Text = "Already Claiming", Value = "Already Claiming"},
        new ListItem {Text = "Low Finance", Value = "Low Finance"},
        new ListItem {Text = "Over 70", Value = "Over 70"},
        new ListItem {Text = "Hung up after transfer", Value = "Hung up after transfer"},
        new ListItem {Text = "Other", Value = "Other"},
    };
}

<h2>PPI Record Details</h2>


<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="forms">Search PPI Records</h1>
            @if (TempData["notice"] != null)
            {
                <p class="text-warning">@TempData["notice"]</p>
            }
        </div>
    </div>
</div>
@using (Html.BeginForm("SubmitSearchRecord", "Search", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <fieldset>
        
        @Html.HiddenFor(x => x.Id)

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Id, new {@class = "form-control", @placeholder = "Id", @disabled = ""})
                </dd>
                <br/>
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.CustomerId, new {@class = "form-control", @placeholder = "Customer Reference", @id = "inputCustRef", @maxlength = 20})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HasPPI)
                </dt>

                <dd>
                    @Html.DropDownListFor(model => model.HasPPI, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectHasPPI"})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ClaimedPPIBefore)
                </dt>

                <dd>
                    @Html.DropDownListFor(model => model.ClaimedPPIBefore, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectClaimedBefore"})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FinanceType)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.FinanceType, new {@class = "form-control", @placeholder = "Finance Type", @id = "inputFinanceType", @maxlength = 50})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Lender)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Lender, new {@class = "form-control", @placeholder = "Lender", @id = "inputLender", @maxlength = 50})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Amount, new {@class = "form-control", @placeholder = "Amount", @id = "inputFinanceAmount", @maxlength = 50})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.StartDate, new {@class = "form-control", @placeholder = "Start Date", @id = "inputStartDate", @maxlength = 50})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.EndDate, new {@class = "form-control", @placeholder = "End Date", @id = "inputEndDate", @maxlength = 50})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Arrears)
                </dt>

                <dd>
                    @Html.DropDownListFor(model => model.Arrears, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectInArrears"})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AccessToDocuments)
                </dt>

                <dd>
                    @Html.DropDownListFor(model => model.AccessToDocuments, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectAccessToDocs"})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactLender)
                </dt>

                <dd>
                    @Html.DropDownListFor(model => model.ContactLender, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectContactLender"})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AccessToAccountNumber)
                </dt>

                <dd>
                    @Html.DropDownListFor(model => model.AccessToAccountNumber, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectAccessToAccNo"})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SubmitToCompanyId)
                </dt>

                <dd>
                    @Html.DropDownListFor(model => model.SubmitToCompanyId, new SelectList(listItems2, "Value", "Text"), new {@class = "form-control", @id = "selectClientSource"})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AgentStatus)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.AgentStatus, new {@class = "form-control", @placeholder = "Agent Status", @id = "inputAgentStatus", @maxlength = 20, @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.CreatedDate, new {@class = "form-control", @placeholder = "Created Date", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastUpdatedDate)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.LastUpdatedDate, new {@class = "form-control", @placeholder = "Last Updated Date", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastUpdatedUser)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.LastUpdatedUser, new {@class = "form-control", @placeholder = "Last Updated User", @disabled = ""})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Title, new {@class = "form-control", @placeholder = "Title", @id = "inputTitle", @maxlength = 5})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control", @placeholder = "First Name", @id = "inputFname", @maxlength = 50})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.LastName, new {@class = "form-control", @placeholder = "Last Name", @id = "inputLname", @maxlength = 50})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Address, new {@class = "form-control", @placeholder = "Address", @id = "inputAddress", @maxlength = 200})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Postcode)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Postcode, new {@class = "form-control", @placeholder = "Postcode", @id = "inputPostcode", @maxlength = 10})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Dob)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Dob, new {@class = "form-control", @placeholder = "Date of Birth", @id = "inputDob", @maxlength = 50})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HomePhone)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.HomePhone, new {@class = "form-control", @placeholder = "Home Phone", @id = "inputHomePhone", @maxlength = 20})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MobilePhone)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.MobilePhone, new {@class = "form-control", @placeholder = "Mobile Number", @id = "inputMobile", @maxlength = 20})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WorkPhone)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.WorkPhone, new {@class = "form-control", @placeholder = "Work Phone", @id = "inputWorkPhone", @maxlength = 20})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Email, new {@class = "form-control", @placeholder = "Email", @id = "inputEmail", @maxlength = 50})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Allocated)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Allocated, new {@class = "form-control", @placeholder = "Allocated", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AllocatedTo)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.AllocatedTo, new {@class = "form-control", @placeholder = "Allocated To", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Processed)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Processed, new {@class = "form-control", @placeholder = "Processed", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProcessedBy)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.ProcessedBy, new {@class = "form-control", @placeholder = "Processed By", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Reference)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.Reference, new {@class = "form-control", @placeholder = "External Reference", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AllocatedDate)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.AllocatedDate, new {@class = "form-control", @placeholder = "Allocated Date", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProcessedDate)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.ProcessedDate, new {@class = "form-control", @placeholder = "Processed Date", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AgentRejectReason)
                </dt>

                <dd>
                    @Html.DropDownListFor(model => model.AgentRejectReason, new SelectList(rejectReasonsList, "Value", "Text"), new {@class = "form-control", @PlaceHolder = "Reject Reason", @id = "selectRejectReason"})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AgentNotes)
                </dt>

                <dd>
                    @Html.TextAreaFor(model => model.AgentNotes, new {@class = "form-control", @rows = "5", @placeholder = "Agent Notes", @id = "agentNotes", @maxlength = 200})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ExternalRejectReason)
                </dt>

                <dd>
                    @Html.DropDownListFor(model => model.ExternalRejectReason, new SelectList(rejectReasonsList, "Value", "Text"), new {@class = "form-control", @PlaceHolder = "Reject Reason", @id = "selectRejectReason", @disabled = ""})
                    <br />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ExternalNotes)
                </dt>

                <dd>
                    @Html.TextAreaFor(model => model.ExternalNotes, new {@class = "form-control", @rows = "5", @placeholder = "External Notes", @id = "externalNotes", @maxlength = 200, @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ExternalStatus)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.ExternalStatus, new {@class = "form-control", @placeholder = "External Status", @disabled = ""})
                    <br/>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.uploadDate)
                </dt>

                <dd>
                    @Html.TextBoxFor(model => model.uploadDate, new {@class = "form-control", @placeholder = "upload Date", @disabled = ""})
                    <br/>
                </dd>

            </dl>
        </div>
            
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <input type="checkbox" id="enable" name="enable" value="enable" onchange=" valueChanged() " />
                    If you want to process the record, please tick to enable this section <br/>
                        
                </h3>
            </div>
            <div class="form-group">
                <div class="panel-body" >

                    <div class="col-lg-10 col-lg-offset-0">
                        <button type="submit" class="btn btn-danger" name="rejectbutton"  id="rejectbutton" disabled="disabled">Reject</button>
                        <button type="submit" class="btn btn-success" name="submitbutton" id="submitbutton" disabled="disabled">Submit >></button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@ |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    function valueChanged() {
        if ($('#enable').is(":checked")) {
            $("#rejectbutton").removeAttr("disabled");
            $("#submitbutton").removeAttr("disabled");
        } else {

            $("#rejectbutton").attr('disabled', 'disabled');
            $("#submitbutton").attr('disabled', 'disabled');
        }
    }
</script>