﻿@using System.Web.UI.WebControls
@using DRM.Webportal.DAL
@model IEnumerable<DRM.Webportal.DAL.PPI>

@{
    ViewBag.Title = "Index";
    object status = Session["Status"];
    Layout = (string) status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@{
    var listItems = new List<ListItem>
    {
        new ListItem {Text = "", Value = ""},
        new ListItem {Text = "Postcode", Value = "Postcode"},
        new ListItem {Text = "First Name", Value = "FirstName"},
        new ListItem {Text = "Last Name", Value = "LastName"},
        new ListItem {Text = "Mobile Number", Value = "MobileNo"},
        new ListItem {Text = "External Reference", Value = "Reference"}
    };
}

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="forms">Search PPI Records</h1>
                @if (TempData["notice"] != null)
                {
                    <p class="text-warning">@TempData["notice"]</p>
                }
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "Search", FormMethod.Get, new {@class = "form-horizontal", role = "form"}))
{
    <div class="form-group">
        <div class="col-lg-4 col-lg-offset-0">
            <label class="control-label" for="selectHasPPI">Select Search criteria :</label>
            @Html.DropDownList("searchCategory", new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectHasPPI"})
            <br/>
            @Html.TextBox("searchString", null, null, new {@class = "form-control", @placeholder = "Search Text", @id = "searchId", @maxlength = 20})
            <br/>
            <button type="submit" class="btn btn-primary" id="" name="searchRecord">Search Records</button>
            <br />
        </div>
        @*@Html.ActionLink("Create New Record", "Create")*@
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        
        <th></th>
    </tr>

    @foreach (PPI item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
       
            <td>
                @*@Html.ActionLink("Edit", "Edit", new {id = item.Id})*@ |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>