﻿@model DRM.Webportal.DAL.PPI

@{
    ViewBag.Title = "Upload CSV File";
    object status = Session["Status"];
    Layout = (string) status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="forms">Reports</h1>
                @if (TempData["notice"] != null)
                {
                    <p class="text-warning">@TempData["notice"]</p>
                }
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Download reports in CSV format</h3>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            
                            @using (Html.BeginForm("Download", "Reports", FormMethod.Post, new {enctype = "multipart/form-data"}))
                            {
                                <div class="panel-body">
                                    <span>#  PPI Status Report - All records </span>
                                    <input type="submit" value="Download" class="btn btn-warning" />
                                </div>
                            }

                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("DownloadDailyReport", "Reports", FormMethod.Post, new {enctype = "multipart/form-data"}))
                            {
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="inputDob" class="col-lg-2 control-label">#  PPI Daily Report</label>
                                        <div class="col-lg-4">
                                            @Html.TextBox("selectedDate", null, null, new {@type = "date", @class = "form-control", @placeholder = "Date", @id = "inputDate"})
                                        </div>
                                        <input type="submit" value="Download" class="btn btn-warning" />
                                    </div>
                                    
                                </div>
                            }
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>