﻿@using System.Web.UI.WebControls
@model DRM.Webportal.DAL.PPI
@{
    ViewBag.Title = "Index";
    object status = Session["Status"];
    Layout = (string) status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@{
    var listItems = new List<ListItem>
    {
        new ListItem {Text = "", Value = ""},
        new ListItem {Text = "Yes", Value = "true"},
        new ListItem {Text = "No", Value = "false"}
    };

    var listItems2 = new List<ListItem>
    {
        new ListItem {Text = "", Value = ""},
        new ListItem {Text = "DEP-DIPO", Value = "1"},
        new ListItem {Text = "CAG", Value = "2"},
        new ListItem {Text = "CH", Value = "3"},
        new ListItem {Text = "CFCK", Value = "4"}
    };

    var rejectReasonsList = new List<ListItem>
    {
        new ListItem {Text = "", Value = ""},
        new ListItem {Text = "Dead Record", Value = "Dead Record"},
        new ListItem {Text = "Cust. left - before qualification", Value = "Cust. left - before qualification"},
        new ListItem {Text = "Not interested - after qualification", Value = "Not interested - after qualification"},
        new ListItem {Text = "No PPI", Value = "No PPI"},
        new ListItem {Text = "In Debt Management", Value = "In Debt Management"},
        new ListItem {Text = "Cannot deal with debt", Value = "Cannot deal with debt"},
        new ListItem {Text = "In IVA", Value = "In IVA"},
        new ListItem {Text = "Bankrupt", Value = "Bankrupt"},
        new ListItem {Text = "Timescale", Value = "Timescale"},
        new ListItem {Text = "Lender Not Accepted", Value = "Lender Not Accepted"},
        new ListItem {Text = "Complaint", Value = "Complaint"},
        new ListItem {Text = "Already Claiming", Value = "Already Claiming"},
        new ListItem {Text = "Low Finance", Value = "Low Finance"},
        new ListItem {Text = "Over 70", Value = "Over 70"},
        new ListItem {Text = "Hung up after transfer", Value = "Hung up after transfer"},
        new ListItem {Text = "Other", Value = "Other"},
    };

    var custId = Model.Id;
}

<body>

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="forms">Process PPI Claims</h1>
                    @if (TempData["notice"] != null)
                    {
                        <p class="text-warning">@TempData["notice"]</p>
                    } 
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("LoadrecordToProcess", "ProcessPpi", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        <fieldset>
            <div class="row">
                <div class="col-lg-6">
                    <div class="well bs-component">
                        <legend>Customer Info.</legend>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-3">
                                @Html.TextBox("searchString", null, null, new {@class = "form-control", @placeholder = "Search Reference Number", @id = "searchId", @maxlength = 10})
                                <br/>
                                <button type="submit" class="btn btn-primary" id="" name="searchRecord">Find Record</button>
                            @*</div>
                            <div>*@
                                @{
                                    if (Model.CustomerId != null)
                                    {
                                        @Html.ActionLink("Set Call Back", "CallBack", "ProcessPpi", new {customerId = custId}, new {@class = "btn btn-warning"})
                                    }
                                }

                                
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.Id)

                        <div class="form-group">
                            <label for="inputCustId" class="col-lg-3 control-label">Cust. ID</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.Id, new {@class = "form-control", @placeholder = "Customer Id", @id = "disabledInput", @disabled = ""})
                               
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputCustRef" class="col-lg-3 control-label">Cust. Reference</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.CustomerId, new {@class = "form-control", @placeholder = "Customer Reference", @id = "inputCustRef", @maxlength = 20})
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputFname" class="col-lg-3 control-label">First Name</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.FirstName, new {@class = "form-control", @placeholder = "First Name", @id = "inputFname", @maxlength = 50})
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLname" class="col-lg-3 control-label">Last Name</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.LastName, new {@class = "form-control", @placeholder = "Last Name", @id = "inputLname", @maxlength = 50})

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDob" class="col-lg-3 control-label">Date of Birth</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.Dob, new {@class = "form-control", @placeholder = "Date of Birth", @id = "inputDob", @maxlength = 50})

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDob" class="col-lg-3 control-label">Address</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.Address, new {@class = "form-control", @placeholder = "Date of Birth", @id = "inputDob", @maxlength = 200})

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPostcode" class="col-lg-3 control-label">Postcode</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.Postcode, new {@class = "form-control", @placeholder = "Postcode", @id = "inputPostcode", @maxlength = 10})

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputMobile" class="col-lg-3 control-label">Mobile</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.MobilePhone, new {@class = "form-control", @placeholder = "Mobile Number", @id = "inputMobile", @maxlength = 20})

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputHomePhone" class="col-lg-3 control-label">Home Phone</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.HomePhone, new {@class = "form-control", @placeholder = "Home Phone", @id = "inputHomePhone", @maxlength = 20})

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputWorkPhone" class="col-lg-3 control-label">Work Phone</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.WorkPhone, new {@class = "form-control", @placeholder = "Work Phone", @id = "inputWorkPhone", @maxlength = 20})

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.Email, new {@class = "form-control", @placeholder = "Email", @id = "inputEmail", @maxlength = 50})

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="externalNotes" class="col-lg-3 control-label">External Notes</label>
                            <div class="col-lg-8">
                                @Html.TextAreaFor(model => model.ExternalNotes, new {@class = "form-control", @rows = "5", @placeholder = "External Notes", @id = "externalNotes", @maxlength = 200})

                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <div class="form-group">
                        <label class="control-label" for="selectHasPPI">Customer Has PPI or would like us to look into</label>
                        @Html.DropDownListFor(model => model.HasPPI, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectHasPPI"})
                        
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="selectClaimedBefore">Have you tried to claim your PPI before ?</label>
                        @Html.DropDownListFor(model => model.ClaimedPPIBefore, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectClaimedBefore"})

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="selectClientSource">Client Source</label>
                        @Html.DropDownListFor(model => model.SubmitToCompanyId, new SelectList(listItems2, "Value", "Text"), new {@class = "form-control", @id = "selectClientSource"})

                    </div>
                    <div class="form-group has-warning">
                        <label class="control-label">Financial Details</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputFinanceType">Finance Type</label>
                        @Html.TextBoxFor(model => model.FinanceType, new {@class = "form-control", @placeholder = "Finance Type", @id = "inputFinanceType", @maxlength = 50})

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputLender">Lender</label>
                        @Html.TextBoxFor(model => model.Lender, new {@class = "form-control", @placeholder = "Lender", @id = "inputLender", @maxlength = 50})

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputFinanceAmount">Finance Amount</label>
                        <div class="input-group">
                            <span class="input-group-addon">£</span>
                            @Html.TextBoxFor(model => model.Amount, new {@class = "form-control", @placeholder = "Amount", @id = "inputFinanceAmount", @maxlength = 50})

                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Pounds</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputStartDate">Start Date</label>
                        @Html.TextBoxFor(model => model.StartDate, new {@class = "form-control", @placeholder = "Start Date", @id = "inputStartDate", @maxlength = 50})

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputStartDate">End Date</label>
                        @Html.TextBoxFor(model => model.EndDate, new {@class = "form-control", @placeholder = "End Date", @id = "inputEndDate", @maxlength = 50})

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="selectInArrears">In Arrears ?</label>
                        @Html.DropDownListFor(model => model.Arrears, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectInArrears"})

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="selectAccessToDocs">Access to Documents ?</label>
                        @Html.DropDownListFor(model => model.AccessToDocuments, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectAccessToDocs"})

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="selectContactLender">willing to contact Lender ?</label>
                        @Html.DropDownListFor(model => model.ContactLender, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectContactLender"})

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="selectAccessToAccNo">Access to Account Number ? </label>
                        @Html.DropDownListFor(model => model.AccessToAccountNumber, new SelectList(listItems, "Value", "Text"), new {@class = "form-control", @id = "selectAccessToAccNo"})

                    </div>

                    <div class="form-group">

                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">If you are REJECTING the record; please fill the following section</h3>
                            </div>
                            <div class="panel-body">
                                Reject Reason:
                            </div>
                            <div class="list-group-item">
                                @Html.DropDownListFor(model => model.ExternalRejectReason, new SelectList(rejectReasonsList, "Value", "Text"), new { @class = "form-control", @PlaceHolder = "Reject Reason", @id = "ExternalRejectReason", @onchange = "rejectReasonSelected()" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-0">
                               
                                <button type="submit" class="btn btn-danger" name="rejectRecord">Reject</button>
                                <button type="submit" class="btn btn-success" name="submitRecord" id="submitRecord">Accept >></button>
                            </div>
                        </div>


                    </div>
                </div></div>

        </fieldset>
    }
</body>

<script type="text/javascript">
    function rejectReasonSelected() {
        var selectedValue = document.getElementById('ExternalRejectReason').value;
        if (selectedValue !== "") {
            document.getElementById("submitRecord").disabled = true;
        } else {
            document.getElementById("submitRecord").disabled = false;
        }
    }

</script>