﻿@model DRM.Webportal.DAL.CallBack

@{
    ViewBag.Title = "Details";
    object status = Session["Status"];
    Layout = (string)status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="forms">Details</h1>
                @if (TempData["notice"] != null)
                {
                    <p class="text-warning">@TempData["notice"]</p>
                }
            </div>
        </div>
    </div>
</div>

<div>
    <h4>CallBack</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.custId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.custId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
         
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

    </dl>
  
</div>
<div class="panel-body">
    <div class="form-group">
        @{
            var userAccess = Session["LoggedInUserAccess"];
            if ((string) userAccess == "external")
            {
                @Html.ActionLink("Go to Customer Record to Process", "ShowCallbackRecord", "ProcessPpi", new {id = @Model.custId}, new {@class = "btn btn-primary"})
            }
            else
            {
                @Html.ActionLink("Go to Customer Details", "Details", "Search", new {id = @Model.custId}, new {@class = "btn btn-primary"})
            }
        }
       
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
