﻿@using System.Globalization
@model DRM.Webportal.Controllers.CallBackViewModel

@{
    ViewBag.Title = "Index";

    object status = Session["Status"];
    Layout = (string)status != "LoggedIn" ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="forms">Callbacks</h1>
                @if (TempData["notice"] != null)
                {
                    <p class="text-warning">@TempData["notice"]</p>
                }
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "CallBacks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                @Html.TextBox("selectedDate", null, null, new { @type = "date", @class = "form-control", @placeholder = "Date", @id = "inputDate" })<br />
                <input type="submit" value="Filter by Date" class="btn btn-primary" />
            </div>
            <div class="col-md-6">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">Total Callbacks <span class="badge">@Model.CallBackStatistics.TotalCallBacks</span></a></li>
                    <li ><a href="#">Attended <span class="badge">@Model.CallBackStatistics.Attened</span></a></li>
                    <li ><a href="#">Unattended <span class="badge">@Model.CallBackStatistics.UnAttended</span></a></li>
                </ul>
            </div>
        </div>
    </div>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Customer ID")
            </th>
            <th>
                @Html.DisplayName("Callback Date")
            </th>
            <th>
                @Html.DisplayName("Callback Time")
            </th>
            <th>
                @Html.DisplayName("Notes")
            </th>
            <th>
                @Html.DisplayName("Agent")
            </th>
            @*<th>
                @Html.DisplayName("Status")
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model.CallBacks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.custId)
                </td>
                <td>
                    @if (item.date != null)
                    {
                        @item.date.Value.ToShortDateString()
                    }

                </td>
                <td>
                    @if (item.time != null)
                    {
                        var timeFormat = new DateTimeFormatInfo();
                        timeFormat.ShortTimePattern = CultureInfo.CurrentCulture.DateTimeFormat.ShortTimePattern;
                        timeFormat.AMDesignator = "A";
                        timeFormat.PMDesignator = "P";
                        @String.Format(timeFormat, "{0:t}", item.time)

                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.agent)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}